Physio-net dataset/*
gaitenv/gait-in-neurodegenerative-disease-database-1.0.0/*
gaitenv/etc/*
gaitenv/.ipynb_checkpoints/*
gaitenv/Include/*
gaitenv/Lib/*
gaitenv/Scripts/*
gaitenv/share/*
gaitenv/gaf_images/*
Gait_Dataset_silhoutte_based/*
